---
import { getRelativeLocaleUrl } from 'astro:i18n';
import GlobalLayout from '../../layouts/GlobalLayout.astro';
---

<GlobalLayout
  lang='en'
  title='Our Story'
  description='The English "Our Story" page.'
>
  <h1>Our Story</h1>

  <p>This is the English "Our Story" page.</p>
</GlobalLayout>
