---
import { getRelativeLocaleUrl } from 'astro:i18n';
import GlobalLayout from '../../layouts/GlobalLayout.astro';
---

<GlobalLayout
  lang='en'
  title='Services'
  description='Our English services page.'
>
  <h1>Our Services</h1>

  <p>This is the English services page.</p>
</GlobalLayout>
