---
import { getRelativeLocaleUrl } from 'astro:i18n';

interface Props {
  lang: string;
}
const { lang } = Astro.props;

const today = new Date();

const footerTexts = {
  en: {
    terms: 'Terms & Conditions',
    rights: 'All rights reserved',
  },
  nl: {
    terms: 'Algemene Voorwaarden',
    rights: 'Alle rechten voorbehouden',
  },
};

const currentTexts = lang === 'nl' ? footerTexts.nl : footerTexts.en;

const termsPath = getRelativeLocaleUrl(
  lang,
  lang === 'en' ? 'terms-and-conditions' : 'algemene-voorwaarden'
);
---

<footer
  class="bg-white bg-[url('/images/cacti-scaled.jpg')] bg-cover bg-center bg-no-repeat aspect-[2560/800] relative"
>
  <div
    class='absolute inset-0 mx-auto max-w-7xl px-6 py-12 md:flex md:justify-between md:items-end lg:px-8'
  >
    <div class='text-sm/6 md:order-2 px-2 pt-1 bg-white/30'>
      <a href={termsPath}>{currentTexts.terms}</a>
    </div>
    <div class='text-sm/6 md:order-1 md:mt-0 px-2 pt-1 bg-white/30'>
      &copy;&nbsp;{today.getFullYear()}&nbsp;Pixeau. {currentTexts.rights}
    </div>
  </div>
</footer>
